<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <title>Listado de Razas</title>
    </head>
    <body>
        <div id="app" class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        {{ tituloRazas }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label >Filtrar Raza:</label>
                            <input v-model="textoBusqueda" type="text" class="form-control" placeholder="Nombre de Raza">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr> <th scope="col">Raza</th> </tr>
                                </thead>
                                <tbody>
                                    <tr v-bind:class="[razaSeleccionada !== '' && razaSeleccionada === name ? 'table-active' : '']" 
                                        v-for="name in obtenerRazas"
                                        v-on:click="seleccionarRaza(name)">
                                            <td >{{ name }} </td>
                                    </tr>
                                </tbody>
                            </table>
                            <v-pagination v-model="currentPage" :page-count="this.obtenerCantidadPagines"></v-pagination>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" v-show="razaSeleccionada !== ''">
                    <div class="row">
                        {{ tituloImagenesRazas }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Imagenes de raza: {{ razaSeleccionada }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="imagen in listadoImagenesRazas">
                                        <td> <img style="width: 40px; height: 40px;" v-bind:src="imagen" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4" v-show="listadoSubRazas.length > 0">
                    <div class="row">   
                        {{ tituloSubRazas }}
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="form-group">
                            <label >Filtrar Sub Raza:</label>
                            <input v-model="textoBusquedaSubRaza" type="text" class="form-control" placeholder="Nombre de Sub Raza">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Sub razas de: {{ razaSeleccionada }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="subraza in obtenerSubRazas">
                                        <td> {{ subraza }} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="//unpkg.com/vue-plain-pagination@0.2.1"></script>

        <script src="./main.js"></script>
    </body>
</html>